TrainingNN/check_gpu.py
/stuff/Forests/*
/stuff/*
/MyNotebooks/*checkpoint.ipynb
/DATA/cache/
/DATA/h5_files/
/DATA/data_raw/
# Why not just 'models'?
/models/ResNet_f.32.32.32_k.3.3.3_s_CLASSES.10_BS.1/
/models/ResNet_f.32.32.32_k.3.3.3_s_CLASSES.10_BS.2/
/models/ResNet_f.64.64.64_k.3.3.3_s_CLASSES.10_BS.4/
/.ipynb_checkpoints/
/RawDataProcessing/.ipynb_checkpoints/
/TrainingNN/.ipynb_checkpoints/
.idea
/DATA/data_raw/
.nfs*
nohup.out
.DS_Store
__pycache__
/models/*/figures/fig72/*1.html
/models/*/figures/fig72/*2.html
/models/*/figures/fig72/*3.html
/models/*/figures/fig72/*4.html
/models/*/figures/fig72/*5.html
/models/*/figures/fig72/*6.html
/models/*/figures/fig72/*7.html
/models/*/figures/fig72/*8.html
/models/*/figures/fig72/*9.html
