TrainingNN/check_gpu.py
/stuff/Forests/*
/stuff/*
/MyNotebooks/*checkpoint.ipynb
/DATA/cache/
/DATA/h5_files/
/DATA/data_raw/*_T1.tar
/models/
/.ipynb_checkpoints/
/RawDataProcessing/.ipynb_checkpoints/
*.ipynb*
*.ipynb
.idea
/DATA/data_raw/
.nfs*
nohup.out
